# US Craft Beers

KATE expects your code to define variables with specific names that correspond to certain things we are interested in.

KATE will run your notebook from top to bottom and check the latest value of those variables, so make sure you don't overwrite them.

* Remember to uncomment the line assigning the variable to your answer and don't change the variable or function names.
* Use copies of the original or previous DataFrames to make sure you do not overwrite them by mistake.

You will find instructions below about how to define each variable.

Once you're happy with your code, upload your notebook to KATE to check your feedback.

In this assignment we have access to a SQL database containing information about craft beers in the USA. You can read about how the data was sourced [here](https://www.jeannicholashould.com/python-web-scraping-tutorial-for-craft-beers.html).

# How to complete and submit
Each exercise will look something like this:

```python
example_query = ''
#example_result = pd.read_sql(example_query, conn)
```

In each exercise you will need to define a query variable by writing  SQL code that you think will solve the problem. Once you have your query, uncomment the second line, this will execute your query and load the resulting data into a pandas DataFrame.

Nothing else needs to be changed in the second line besides uncommenting it, you should not change the name of the query.

After running this you will be free to inspect the result produced to see whether it's what you expect as the result. **KATE** will look for variables with the names defined in this notebook, so it is important not to rename the variables defined in this notebook.

Once you've completed the exercises submit this notebook to **KATE** to get feedback. You can also submit the notebook when you only have parts of it completed - if you do so, make sure you do not uncomment the `pd.read_sql` lines for which you don't have a query yet.

Refer to the instructions on **KATE** for more details on the dataset.

# Setup

The below code is setting up a connection to the SQLite database. 

**Do not change this code!** The `conn` variable will be used throughout the notebook to query the database.

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/beers.db")

# Queries

**Q1. Let's start by inspecting the database's metadata. To do this, load all the schemas from the `sqlite_master` table. The columns we want are `type`, `name`, `tbl_name`, `rootpage`, and `sql`.**

In [ ]:
# Add your code below
# metadata_query = ...
# metadata_result = pd.read_sql_query(metadata_query, conn)

**Q2. Now that we know something about the structure of the `beers` table, let's retrieve some information. To get started, retrieve the first 5 rows of the `beers` table. We want the `abv`, `ibu`, `name`, and `style` columns.**

In [ ]:
# Add your code below
# five_rows_beers_query = ...
# five_rows_beers_result = pd.read_sql_query(five_rows_beers_query, conn)

**Q3. Similarly, query the first 5 rows of the `breweries` table. We want the `brewery_id`, `name`, `city`, and `state` columns.**

In [ ]:
# Add your code below
# five_rows_breweries_query = ...
# five_rows_breweries_result = pd.read_sql_query(five_rows_breweries_query, conn)

**Q4. Query the `beers` table to find out the number of rows. Use an alias so the name of the column returned is `row_count`.**

In [ ]:
# Add your code below
# beers_total_rows_query = ...
# beers_total_rows_result = pd.read_sql_query(beers_total_rows_query, conn)

**Q5. Query the `beers` table to find out how many distinct styles are present. Use an alias so the name of the column returned is `distinct_styles`.**

In [ ]:
# Add your code below
# distinct_styles_query = ...
# distinct_styles_result = pd.read_sql_query(distinct_styles_query, conn)

**Q6. Let's now find out about alcoholic content. Query the `beers` table to find the minimum, average, and maximum alcohol content (`abv`). The column names should be `min`, `avg`, and `max`.**

In [ ]:
# Add your code below
# alcoholic_content_query = ...
# alcoholic_content_result = pd.read_sql_query(alcoholic_content_query, conn)

**Q7. Query the `beers` table to get all the `abv` values.**


We can then use this data to plot the distribution of the `abv`.

In [ ]:
# Add your code below
# abv_distribution_query = ...
# abv_distribution_result = pd.read_sql_query(abv_distribution_query, conn)

Once you have retrieved the `abv_distribution_result`, uncomment and execute the cell below to generate a histogram:

In [ ]:
# abv_hist = abv_distribution_result.hist(bins=30);

**Q8. Query the distinct types of IPA styles in the `beers` table.**


- Consider a style IPA if it has `"IPA"` in its name
- Name the column `ipa_styles`

In [ ]:
# Add your code below
# ipa_styles_query = ...
# ipa_styles_result = pd.read_sql_query(ipa_styles_query, conn)

**Q9. The `ibu` is an abbreviation for the International Bitterness Units scale; a measurement of a beer's bitterness. Calculate the average bitterness of lager beers and pale ale beers. Consider a beer style lager if its name contains `"lager"`, and consider a beer style pale ale if its name contains `"IPA"`, `"APA"` or `"Pale Ale"`.**

In [ ]:
# Add your code below
# lager_bitterness_query = ...
# ale_bitterness_query = ...
# lager_bitterness_result = pd.read_sql_query(lager_bitterness_query, conn)
# ale_bitterness_result = pd.read_sql_query(ale_bitterness_query, conn)

**Q10. Calculate how many beers there are of each `style` in the `beers` table.** 


- Your result should have two columns: `style` (the style name) and `number` (the number of beers of that style).

- Order the results by the `number` of beers of each style in _descending_ order. 

- Limit your result to the first `10` styles.

In [ ]:
# Add your code below
# style_count_query = ...
# style_count_result = pd.read_sql_query(style_count_query, conn)

**Q11. Query the `beers` and `breweries` tables to list all the breweries and beers that can be found in San Francisco.**


Your result should contain two columns: `brewery` and `beer`, and should be ordered alphabetically by brewery name then beer name.

_Note that you may want to use a `JOIN`_.

In [ ]:
# Add your code below
# beers_and_brewery_query = ...
# beers_and_brewery_result = pd.read_sql_query(beers_and_brewery_query, conn)

**Q12. Find the largest breweries by the number of beers produced.**


- Your result should have two columns, `name` and `number of beers`, and should be ordered from largest to smallest.

- If `number of beers` is the same, it should be ordered alphabetically.

- Limit your result to the top `10` breweries.

_Note: if a column name has spaces, you can wrap it in backticks(\` \`), quotes(" "), or square brackets(\[ \])._

_E.g. `SELECT [long column name] FROM table`_

In [ ]:
# Add your code below
# largest_breweries_query = ...
# largest_breweries_result = pd.read_sql_query(largest_breweries_query, conn)

**Q13. Query the `breweries` and `beers` tables to identify the top 10 US states with regard to the number of _breweries_.**


Your result should have three columns: `state`, `breweries` (the number of breweries), and `beers` (the number of `beers`).

In [ ]:
# Add your code below
# top_10_states_query = ...
# top_10_states_result = pd.read_sql_query(top_10_states_query, conn)

## The Strong Beer Awards

### Let us create a competition for the strongest US craft beers. The rules are:

- A beer is considered strong if its ABV is above 0.06, and its IBU is above 60. 

- Between strong beers, the IBU value decides which is the strongest.

- Only strong beer specialist breweries are eligible. To be a specialist, the brewery must have at least three strong beers in its catalog.

- Each brewery presents only one beer for the competition (the one with the largest IBU).

- Ciders are not considered beer, nor are beers with unknown styles.

Let's go step-by-step to the result.

**Q14. Calculate the number of strong beers for each brewery.**


Present the results with two columns, the brewery `name` and the `number of strong beers`.

In [ ]:
# Add your code below
# number_of_strong_beers_query = ...
# number_of_strong_beers_result = pd.read_sql_query(number_of_strong_beers_query, conn)

**Q15. Now create a query that lists the names of breweries which have at least 3 strong beers. Your result should have one column called `name`.**


_Hint: To filter on a field after using a `GROUP BY`, use `HAVING`._

In [ ]:
# Add your code below
# at_least_three_strong_beers_query = ...
# at_least_three_strong_beers_result = pd.read_sql_query(at_least_three_strong_beers_query, conn)

## And now for the results of the 2020 Strong Beer Awards!

**Q16. Calculate the results of the competition.**


Present the results in order, starting for the winner, with columns: `brewery_name`, `beer_name`, `style`, `abv`, `ibu`, `state`, and `city`. 


If the `ibu` value of the strongest beer of different breweries is the same, sort them alphabetically. 


Remember that each brewery only presents one beer.


If a brewery has more than one beer with the the maximum `ibu`, it can present any of them to the competition.

_Hint: First calculate the winner with all breweries included, then add a `WHERE` clause to filter down the breweries using **Q15** as a subquery. Recall that you can do `...WHERE x IN (SELECT...)...`_

In [ ]:
# Add your code below
# strong_beer_awards_query = ...
# strong_beer_awards_result = pd.read_sql_query(strong_beer_awards_query, conn)

## Record the awards in a new table

Let's create a record of our competition results. However, before we do this we need to make sure that our database does not contain a table with the name `strong_beer_competition`.

To do this, we can create a cursor object to send commands directly to the database. We can use the `.execute()` method followed by the `.commit()` method to execute and save changes.

However first we create a temporary copy of the database to ensure we don't accidentally overwrite or damage our database, **if you make a mistake in Q17, 18 or 19 please just run the cell below again to update your database copy.**

Please **do not** edit the code in the following two cells.

In [ ]:
!cp -u data/beers.db beers_copy.db
conn = sqlite3.connect("beers_copy.db")

In [ ]:
cur = conn.cursor()

query = "DROP TABLE IF EXISTS strong_beer_competition"

cur.execute(query)
conn.commit()

**Q17. Now that we have ensured that any `strong_beer_competition` table has been deleted, let's create a new table in the database named `strong_beer_competiton`.**


We should include the following columns: `year` (`INTEGER`), `ranking` (`INTEGER`), `beer` (`STRING`), and `brewery` (`STRING`). We should also include a `CHECK` that the ranking is a positive number.


Note that your query should only create this table if it does not already exist.

In [ ]:
# Add your code below
# create_table_query = ...

**Q18. Using the `INSERT` function, iterate through the first 10 rows your `strong_beer_awards_result` DataFrame and insert them into the `strong_beer_competition` table. Set the year to 2020.**

In [ ]:
# Add your code below
# query = ...

**Q19. Finally, retrieve the results from the `strong_beer_competition` table. Select all the rows and save them to a DataFrame called `results_df`. Be sure to specify the columns by name.**

In [ ]:
# Add your code below
# results_query = ...
# results_df = pd.read_sql_query(results_query, conn)
# ...